<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="~/css/style.css"/>
</head>
<body>
    <h2> The Current Time and date:</h2>
    <div class="time">
        <h2>@ViewBag.Time.ToString("dddd, MMMM dd yyyy h:mm:ss ")</h2>
    </div>
</body>
</html>